
.jspsych-display-element {
  font-family: Arial, Helvetica, sans-serif;
  color: #8C8265;
  background-color: #F5F2E9;
}

.jspsych-btn {
  font-family: Arial, Helvetica, sans-serif;
  /*padding: 2px 2px;*/
  /*font-size: 25px;*/
  /*border-color: black;*/
}

.mytable {
  width: 100%;
  border-collapse: collapse;
  /*border-spacing: 0;*/
  /*border: 1px solid grey;*/
}

.mytable th {
  /*width: 60%;*/
  /*align: left;*/
  /*height: 70px;*/
  /*text-align: center;*/
  vertical-align: bottom;
  padding: 15px;
  border-bottom: 1px solid grey;
  background-color: dimgrey;
  color: white;
}

.mytable tr:hover {background-color: darkgrey;}
/*.mytable tr:nth-child(even) {background-color: #f2f2f2;}*/

.mytable td {
  /*border: 1px solid grey;*/
  padding: 3px;
  border-bottom: 1px solid grey;
}