
.consent-form {
  font: normal 16px Arial, Helvetica, sans-serif;
  text-align: center;
  /*color: #000000;*/
  /*background-color: #FFFFFF;*/
}

.consent-form #scroll {
  margin: auto;
  height: 400px;
  width: 600px;
  padding: 10px;
  border: 1px solid #4e4e4e;
  color: #000000;
  background-color: #FFFFFF;
  font: 16px Arial, Helvetica, sans-serif;
  overflow: auto;
  text-align: left;
}
/*
.bct-display {
  font-family: Arial, Helvetica, sans-serif;
  color: #8C8265;
  background-color: #F5F2E9;
}
*/
.jspsych-display-element {
  font-family: Arial, Helvetica, sans-serif;
  color: #8C8265;
  background-color: #F5F2E9;
}

.jspsych-btn {
  font-family: Arial, Helvetica, sans-serif;
  /*padding: 2px 2px;*/
  /*font-size: 25px;*/
  /*border-color: black;*/
}

.mytable {
  width: 100%;
  border-collapse: collapse;
  /*border-spacing: 0;*/
  /*border: 1px solid grey;*/
}

.mytable th {
  /*width: 60%;*/
  /*align: left;*/
  /*height: 70px;*/
  /*text-align: center;*/
  position: sticky;
  top: 0; /* required along w sticky to make the header float */
  vertical-align: bottom;
  padding: 15px;
  border-bottom: 1px solid grey;
  background-color: dimgrey;
  color: white;
}

.mytable tr:hover {background-color: whitesmoke;}
/*.mytable tr:nth-child(even) {background-color: #f2f2f2;}*/

.mytable td {
  /*border: 1px solid grey;*/
  padding: 3px;
  border-bottom: 1px solid grey;
}